.container {
    display: flex;
    /* margin: 91px 815px 903px 124; */
    box-sizing: border-box;
    background-color: red;
}

.


/* @media screen and (min-width: 1400px) {
    .container {
        display: flex;
        justify-content: space-around;
       
    }
} */

body {
    font-family: Roboto;
}

h1 {
    font-size: 55px;
    margin-top: 91px;
    margin-left: 124px;
    width: 501px;
}

.movies {
    font-size: 24px;
    margin-left: 124px;
    margin-right: 213px;
    width: 600px;
}

.item {
    margin-right: 151px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.image1 {
    position: relative;
    padding-right: 151px;
    width: 290px;
    height: 302px;
    padding-left: 213px;


}

.foto {
    display: flex;
    flex-direction: column;

}

.image2 {
    width: 343px;
    height: 59px;
    margin-left: 195px;
    margin-top: -30px;
}

.wrapper {
    display: flex;

    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 103px;
    margin-bottom: 192px;

}


.image3 {
    position: relative;
    padding-left: 124px;
    width: 222px;
    height: 194px;
}

.image4 {
    margin-top: -16px;
    padding-left: 33px;
    padding-right: 500px;
    width: 189px;
    margin-left: 124px;
}

/* .image4{
    padding-left: 157px;
} */
/* .lesson{
    margin-left: 488px;
    
} */
/* .image{
    padding-left: 157px;
    padding-top: 857px;
    padding-bottom:157px;
    padding-right: 1094px;
} */
p {
    /* width: 400px; */
    font-size: 18px;
    /* padding-left: 0px; */
}

.lesson {
    /* padding-right: 120px; */
    width: 150px;
    margin-left: -300px;
    margin-right: auto;
}


.hours {
    width: 150px;
    /* padding-left: 20px; */
    padding-right: 93px;
    margin-left: 95px;
}

.course {
    width: 150px;
    /* padding-left: 225px; */
    padding-right: 314px;
}

h2 {
    font-size: 25px;
    /* padding-left: 0px */

}

/* .son{
    padding-right: 314px;
} */

/* @media screen and (min-width: 834px) and (max-width: 1399px) {
    .course-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 375px) and (max-width: 833px) {
    .course-info {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
} */