.container{
    display: flex;
    margin:91px 815px 903px 124;
    box-sizing: border-box;
}
h1{
    font-size: 55px;
    margin-top: 91px;
    
}

.movies{
    font-size: 24px;
    /* margin-left: 124px;
    margin-bottom: 470px;
    margin-right: 654px;
    margin-top: 202px; */
} 
.image1{
    /* padding-right: 151px;
    margin-top: 238px; */
    padding-right: 151px;

}
/* .image2{
    padding-top: 511px;
} */
.wrapper{
    display:flex;
    
}
.image3{
    padding-left: 124px;
}
/* .image4{
    padding-left: 157px;
} */
/* .lesson{
    margin-left: 488px;
    
} */
/* .image{
    padding-left: 157px;
    padding-top: 857px;
    padding-bottom:157px;
    padding-right: 1094px;
} */