.container {
    display: flex;
    margin: 91px 815px 903px 124;
    box-sizing: border-box;
}

h1 {
    font-size: 55px;
    margin-top: 91px;
    margin-left: 124px;
}

.movies {
    font-size: 24px;
    margin-left: 124px;
    margin-right: 213px;
    width: 600px;
}

.image1 {

    padding-right: 151px;
    width: 290px;
    height: 302px;
    padding-left: 213px;

}

.image2 {
    width: 343px;
    height: 59px;
    margin-left: 195px;
    margin-top: -5px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 103px;
    margin-bottom: 192px;
    
}

.image3 {
    padding-left: 124px;
}

.image4 {
    padding-top: 0px;
    padding-left: 138px;
    padding-right: 500px;
    width: 189px;
}

/* .image4{
    padding-left: 157px;
} */
/* .lesson{
    margin-left: 488px;
    
} */
/* .image{
    padding-left: 157px;
    padding-top: 857px;
    padding-bottom:157px;
    padding-right: 1094px;
} */
p {
    /* width: 400px; */
    font-size: 18px;
    /* padding-left: 0px; */
}

.lesson {
    /* padding-right: 120px; */
    width: 150px;

}

.hours {
    width: 150px;
    /* padding-left: 20px; */
}

.course {
    width: 150px;
    /* padding-left: 225px; */
}

h2 {
    font-size: 25px;
    /* padding-left: 0px */

}